<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fukuwaraii!</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" type="image/png" href="/static/img/favicon.png">
  <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen and (min-width:765px)">
  <link rel="stylesheet" type="text/css" href="/static/css/style_sp.css" media="screen and (max-width:764px)"> -->
</head>
<body>
  
  <div class="header">
    <div class="container">
      <div class="logo">
        <img class="header-logo" src="/static/img/Fukuwaraii-moji.png" alt="Fukuwaraii!">
      </div>
      <div class="help">
        <img class="help_button" src="/static/img/help-button.png" alt="help">
      </div>
    </div>
  
  <div class="editor">
    <div class="edit">
    </div>
  </div>

  <div class="buttons">
    <div class="left_button">
      <img class="import" src="/static/img/import_button.png" alt="インポート">
    </div>
    <div class="right_button">
      <img class="twitter" src="/static/img/twitter_button.png" alt="拡散">
      <img class="export" src="/static/img/export_button.png" alt="画像生成">
    </div>
  </div>
      
  </div>
</body>
</html>